
  <section class="site-section" id="next">
    <div class="container">

      <div class="row mb-5 justify-content-center">
        <div class="col-md-7 text-center">
          <h2 class="section-title mb-2">{{Jobs.length!}} Job Listed</h2>
        </div>
      </div>
      
      <ul class="job-listings mb-5" >

        <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center" *ngFor="let job of Jobs">
          <a href="" [routerLink]="['/Profile/JobDetail',job.J.jobId]"></a>
          <div class="job-listing-logo">
            <img src="{{job.C.picture}}"  class="img-fluid">  
          </div>
          <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
            <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
              <h2>{{job.J.jobTitle}}</h2>
              <strong>{{job.C.companyName}}</strong>
            </div>
            <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
              <span class="icon-room"></span> {{job.J.location}} 
            </div>
            <div class="job-listing-meta">
                <span class="badge badge-success">{{job.J.jobType}}</span>
            </div>
          </div>
        </li>
        <br>
      </ul>

      <div class="row pagination-wrap">
        <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
          <span>Showing 1-7 Of 43,167 Jobs</span>
        </div>
        <div class="col-md-6 text-center text-md-right">
          <div class="custom-pagination ml-auto">
            <a href="#" class="prev">Prev</a>
            <div class="d-inline-block">
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            </div>
            <a href="#" class="next">Next</a>
          </div>
        </div>
      </div>

    </div>
  </section>

 
