
  <body id="top">



  
    <div class="site-wrap">
  
      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div> 
      <!--.site-mobile-menu-->
  
        <!-- NAVBAR -->
        <app-nav-bar></app-nav-bar>
        <!-- Layout -->
        <router-outlet></router-outlet>
        <!--ChatBar-->
        <app-chat-bar></app-chat-bar>
        <!--footer-->
        <app-footer></app-footer>
    
     </div>

    </body>